body {
    margin: 0 auto;
    font-family: Inter;
    display: flex; flex-direction: column; align-items: stretch;
    position: absolute; top: 0; bottom: 0; left: 0; right: 0;
    max-width: 720px;
}

header {
    background-color: #F2F2F2;
    padding: 32px 48px 24px 48px;
    text-align: right;
    font-size: 48px; font-weight: 600;
    &::first-line { font-size: 20px; font-weight: 400; color: lighten(black, 45%); }
}
section {
    display: grid; grid-template-columns: repeat(4, 25%);
    p {
        padding: 24px; margin: 0px; user-select: none;
        display: flex; justify-content: center; align-items: center;
        font-size: 28px; font-weight: 700;
        &:hover { background-color: #D0CECE; }
        &:active { background-color: #AFABAB; transform: translateY(1px) scale(0.99); }
        &:nth-child(15) {
            background-color: #4472C4; color: #fff;
            &:hover { background-color: #2F5597; }
            &:active { background-color: #203864; }
        }
    }
}

$clearsize: 56px;
p#clear {
    position: absolute; top: 0px; left: 0px;
    user-select: none;
    font-size: 18px; font-weight: 700;
    display: flex; justify-content: center; align-items: center;
    margin: 8px;
    width: $clearsize; height: $clearsize;
    &:hover { background-color: #D0CECE; }
    &:active { background-color: #AFABAB; transform: translateY(1px) scale(0.99); }
}

p#result { margin: 0px; padding: 0px; }